@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #33165a;
  --brand-hover: #2a1149;
  --brand-light: #f3eefa;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #f7f5fb;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}
